<div id="footer">
    <ul class="social_icon">
        <li>
            <a href="https://www.facebook.com/cmqingenieria?mibextid=LQQJ4d" target="_blank"><img src="../../../assets/facebook.png" alt="Facebook"></a>
        </li>
        <li>
            <a href="https://instagram.com/lilium_co?igshid=YmMyMTA2M2Y=" target="_blank"><img src="../../../assets/IG.png" alt="Instagram"></a>
        </li>
        <li>
            <a href="https://wa.me/573017751883" target="_blank"><img src="../../../assets/WA.png" alt="WhatsApp"></a>
        </li>
        <li>
            <a href="mailto:ingenieria.cmq@gmail.com?subject=HOLA%20CMQ" target="_blank"><img src="../../../assets/email.png" alt=""></a>
        </li>
    </ul>
    <ul class="menu">
        <li>
            <a href="#">Home</a>
        </li>
        <li>
            <a href="#">about</a>
        </li>
        <li>
            <a href="#">Services</a>
        </li>
        <li>
            <a href="#">Team</a>
        </li>
        <li>
            <a href="#">contact</a>
        </li>
    </ul>
    <p class="footerText">
        CMQ ingeniería SAS, since 2012
    </p>
</div>