<app-header></app-header>
<div id="Ofertas">
    <img src="../../../assets/prom40.jpg" class="img-fluid" alt="Promo">
</div>

<div id="products">

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../../assets/offer_lavaloza_guantes.jpg" alt="Offer 2">
        <div class="card-body">
            <h5 class="card-title">Oferta cocina</h5>
            <p class="card-text"><s style="color: red;">US$11.99</s></p>
            <p class="card-text">US$8.99</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Lavaloza</li>
            <li class="list-group-item">Guantes de cocina</li>
        </ul>
        <div class="card-body">
            <button type="button" class="btn btn-dark">Añadir al carrito</button>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../../assets/offer_limpiavidrios_trapo.jpg" alt="Offer 3">
        <div class="card-body">
            <h5 class="card-title">Oferta espejos y vidrios</h5>
            <p class="card-text"><s style="color: red;">US$7.99</s></p>
            <p class="card-text">US$4.99</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Limpiavidrios</li>
            <li class="list-group-item">Trapo de algodón</li>
        </ul>
        <div class="card-body">
            <button type="button" class="btn btn-dark">Añadir al carrito</button>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../../assets/offer_piso_trapero.jpg" alt="Offer 4">
        <div class="card-body">
            <h5 class="card-title">Oferta pisos</h5>
            <p class="card-text"><s style="color: red;">US$24.99</s></p>
            <p class="card-text">US$19.99</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Detergente para pisos</li>
            <li class="list-group-item">Trapero</li>
        </ul>
        <div class="card-body">
            <button type="button" class="btn btn-dark">Añadir al carrito</button>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../../assets/offer_shampoo_locion.jpg" alt="Offer 6">
        <div class="card-body">
            <h5 class="card-title">Oferta cuidado personal</h5>
            <p class="card-text"><s style="color: red;">US$9.99</s></p>
            <p class="card-text">US$7.99</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Shampoo para baño</li>
            <li class="list-group-item">Loción</li>
        </ul>
        <div class="card-body">
            <button type="button" class="btn btn-dark">Añadir al carrito</button>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../../assets/offer_trapero_aspiradora.jpg" alt="Offer 7">
        <div class="card-body">
            <h5 class="card-title">Oferta 2X1</h5>
            <p class="card-text"><s style="color: red;">US$44.99</s></p>
            <p class="card-text">US$29.99</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Trapero 2en1</li>
            <li class="list-group-item">Aspira y trapea</li>
        </ul>
        <div class="card-body">
            <button type="button" class="btn btn-dark">Añadir al carrito</button>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../../assets/offer_trapero_caneca.jpg" alt="Offer 8">
        <div class="card-body">
            <h5 class="card-title">Oferta kit</h5>
            <p class="card-text"><s style="color: red;">US$19.99</s></p>
            <p class="card-text">US$9.99</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Trapero</li>
            <li class="list-group-item">Caneca 8Litros</li>
        </ul>
        <div class="card-body">
            <button type="button" class="btn btn-dark">Añadir al carrito</button>
        </div>
    </div>
    <app-footer></app-footer>