#login {
    margin-left: 30px;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: rgb(255 255 255);
}

input.userBox {
    background: transparent;
    border: none;
    border-bottom: solid 1px;
    color: white;
    font-size: 13px;
    margin-right: 20px;
    width: 180px;
}

button.login {
    background: transparent;
    color: white;
    border: solid 1px white;
    border-radius: 10px;
}

h3 {
    color: aliceblue;
}

div#welcome {
    display: flex;
    flex-direction: row;
}

select#opt {
    background: transparent;
    border: none;
    color: white;
}