<app-header></app-header>
<div id="products">

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../../assets/alcohol_perfumado.jpg" alt="Alcohol perfumado">
        <div class="card-body">
            <h5 class="card-title">Alcohol Lilium perfumado</h5>
            <p class="card-text">US$4.99</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Aroma Creed Silver</li>
            <li class="list-group-item">Antibacterial</li>
            <li class="list-group-item">Manos más suaves</li>
        </ul>

    </div>

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../../assets/crema manos.jpg" alt="Crema para manos">
        <div class="card-body">
            <h5 class="card-title">Crema hidratante</h5>
            <p class="card-text">US$9.99</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Piel extraseca</li>
            <li class="list-group-item">Cuidado intensivo</li>
            <li class="list-group-item">Exfoliante</li>
        </ul>

    </div>

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../../assets/gel_bano.jpg" alt="Gel de baño">
        <div class="card-body">
            <h5 class="card-title">Gel de baño</h5>
            <p class="card-text">US$9.99</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Gel corporal</li>
            <li class="list-group-item">Perfumado</li>
            <li class="list-group-item">Aroma a manzana</li>
        </ul>

    </div>

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../../assets/gel_manos.jpg" alt="Gel antibacterial">
        <div class="card-body">
            <h5 class="card-title">Gel antibacterial</h5>
            <p class="card-text">US$7.99</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Aroma coco</li>
            <li class="list-group-item">Antibacterial</li>
            <li class="list-group-item">Manos más suaves</li>
        </ul>

    </div>

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../../assets/limpiador_bambu.jpg" alt="Limpiador de pino">
        <div class="card-body">
            <h5 class="card-title">Limpiador multiusos</h5>
            <p class="card-text">US$11.99</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Aroma a pino</li>
            <li class="list-group-item">Supervicies planas</li>
            <li class="list-group-item">Extradesengrasante</li>
        </ul>

    </div>

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../../assets/limpiador_pino.jpg" alt="Limpiador de Bambú">
        <div class="card-body">
            <h5 class="card-title">Limpiapisos</h5>
            <p class="card-text">US$10.99</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Aroma a Bambú</li>
            <li class="list-group-item">Limpieza profunda</li>
            <li class="list-group-item">Elimina bacterias</li>
        </ul>

    </div>
</div>

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="../../../assets/aspiradora1.jpg" alt="Aspiradora Lilium 3000">
    <div class="card-body">
        <h5 class="card-title">Aspiradora Lilium 3000</h5>
        <p class="card-text">US$59.99</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">24 meses de garantía</li>
        <li class="list-group-item">Inalámbrica</li>
        <li class="list-group-item">Extra liviana</li>
    </ul>
    <div class="card-body">

    </div>
</div>

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="../../../assets/aspiradora2.jpg" alt="Aspiradora Lili">
    <div class="card-body">
        <h5 class="card-title">Aspiradora Lili</h5>
        <p class="card-text">US$25.99</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">6 meses de garantía</li>
        <li class="list-group-item">Producto importado</li>
        <li class="list-group-item">Inalámbrica</li>
    </ul>
    <div class="card-body">

    </div>
</div>

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="../../../assets/kit_trapero.jpg" alt="Trapero intercambiable">
    <div class="card-body">
        <h5 class="card-title">Trapero intercambiable</h5>
        <p class="card-text">US$29.99</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">5 traperos de repuesto</li>
        <li class="list-group-item">Hecho de algodón</li>
        <li class="list-group-item">extra absorbente</li>
    </ul>

</div>

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="../../../assets/limpiador_polvo.jpg" alt="Limpia polvo">
    <div class="card-body">
        <h5 class="card-title">Limpia polvo</h5>
        <p class="card-text">US$7.99</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Capsulas absorbentes</li>
        <li class="list-group-item">Extra suave</li>
        <li class="list-group-item">Mango largo</li>
    </ul>

</div>

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="../../../assets/trapero2.jpg" alt="Trapero">
    <div class="card-body">
        <h5 class="card-title">Trapero motorizado</h5>
        <p class="card-text">US$49.99</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">12 meses de garantía</li>
        <li class="list-group-item">Limpieza fácil</li>
        <li class="list-group-item">Motor Yamaha</li>
    </ul>

</div>

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="../../../assets/trapero3.jpg" alt="Trapero">
    <div class="card-body">
        <h5 class="card-title">Trapero sencillo</h5>
        <p class="card-text">US$4.99</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Hecho de algodón</li>
        <li class="list-group-item">Reciclable</li>
        <li class="list-group-item">Mango más cómodo</li>
    </ul>

</div>

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="../../../assets/trapero5.jpg" alt="Trapero">
    <div class="card-body">
        <h5 class="card-title">Trapero sencillo</h5>
        <p class="card-text">US$3.99</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Hecho de algodón</li>
        <li class="list-group-item">Reciclable</li>
        <li class="list-group-item">Mango más cómodo</li>
    </ul>

</div>

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="../../../assets/trapo.jpg" alt="Trapero">
    <div class="card-body">
        <h5 class="card-title">Trapo multiusos x5</h5>
        <p class="card-text">US$2.99</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Hecho de algodón</li>
        <li class="list-group-item">Reutilizable</li>
        <li class="list-group-item">Fácil lavado</li>
    </ul>

</div>
<app-footer></app-footer>